/* This sections will affect ALL attributes */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}
/* Affects entire page */
.page-wrapper{
    display: flex;
    max-width: 1500px;
    justify-content: center;
    justify-content: space-evenly;
    height: 100vh;

    padding: 50px;
    flex-wrap: wrap;


}

.profile-pic{
    width: 350px;
    height: 500px;
}

.aboutme-container{
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
}

/* Affects Side2 */
.side2{
    width: 40%;

}

.wrapper{
    margin-bottom: 15px;

}

hl{
    margin-bottom: 5px;
    font-size: 24px;

}

h2{
    font-size: 16px;
}

li{
    list-style: none;

}

p{
    line-height:  1.3em;
    font-size: 13px;    
}

.card1{
    background-color: #d37843;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card2{
    background-color: #3942c5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card3{
    background-color: #5f4e4e;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card4{
    background-color: #b63434;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}




